<section class="container-fluid bg-white mt-5">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item txt6"><a class="txt6 fw-500 font-size-9" href="#">Home</a></li>
              <li class="breadcrumb-item active txt6 fw-500 font-size-9" aria-current="page">About</li>
            </ol>
          </nav>


          <div class="mb-5"><h1 class="txt3 fw-500 font-size-18">About Us</h1></div>

          <div class="row mt-5 shadow p-4 py-5 rounded">
            <div class="col-12 col-md-4">
              <img src="assets/about/pic.png" alt="" class="img-fluid w-100">
            </div>
            <div class="col-12 col-md-8">
              <h3 class="txt3 fw-500 font-size-16">What we do</h3>
              <hr>
              <p class="txt4 fw-400 font-size-8">Getting started in Webflow is a relatively simple. Head over to the website, create an account, and give the free trial a go. Make sure to open the interface in the latest version of Google Chrome because it is currently the only browser that is fully supported. New tools have emerged to address the challenges of responsive web design — tools such as Adobe Reflow and the recently released Macaw. <br> <br> New tools have emerged to address the challenges of responsive web design — tools such as Adobe Reflow and the recently released Macaw. Today, we’ll look at one that I have tested extensively in the last few months. Though not perfect, it’s been a leap forward in productivity for the team that I work with. Its name is Webflow, and it could be the solution to the problems you face with static design comps produced in Photoshop and Fireworks. Getting started in Webflow is a relatively simple. </p>
            </div>
            
          </div>

          <div class="my-5 py-3">
            <h3 class="txt3 fw-500 font-size-16">Our Team</h3>
          </div>

          <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <img src="" alt="">
                <div class="card-body">
                  
                </div>
            </div>
          </div>
    </div>
</section>


<h1 class="bg1">tdfjghjkl;</h1>
