<nav class="navbar navbar-expand-lg navbar-light bg1">
  <div class="container">
    <a class="navbar-brand text-white fw-400 font-size-14 ff1" href="#"> <img src="assets/icon.png" alt=""> TripWay</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-400 gap-2 gap-lg-4 ff1">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/">HOME</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white dropdown-toggle" routerLink="about" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ABOUT
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="#">Action</a></li>
            <li><a class="dropdown-item" routerLink="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="destinations">DESTINATIONS</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white dropdown-toggle" routerLink="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            GALLERY
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="#">Action</a></li>
            <li><a class="dropdown-item" routerLink="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="blog">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="contacts">CONTACS</a>
        </li>
        
      </ul>
      
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<h1>footer</h1>