/* You can add global styles to this file, and also import other style files */




.height1{
    height: 90vh;
}

.arr-1{
    width:5rem !important;
    height:5rem !important;
    filter: white(100%);
    overflow: hidden;
  color: #FFFFFF
}
.bghome{
  box-shadow: 0 1px 2px 0 #a3a3a9;
}
.btn{
  width:10.5rem;
  padding: 5px 1px;
}

.ff1{
  font-family: 'Roboto', sans-serif;
}
