<section class="container-fluid bg-white p-0 m-0">
  <!-- *****crousel start****** -->

  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="assets/home/crousel-img.png"
          class="d-block w-100 height1"
          alt="assets/home/crousel-img.pngs"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/home/crousel-img.png"
          class="d-block w-100 height1"
          alt="assets/home/crousel-img.pngs"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/home/crousel-img.png"
          class="d-block w-100 height1"
          alt="assets/home/crousel-img.pngs"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <img
        src="assets/home/left-arrow.png"
        alt=""
        class="bg4 arr-1 p-4 text-white"
      />
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <img
        src="assets/home/right-arrow.png"
        alt=""
        class="bg4 arr-1 p-4 text-white"
      />
    </button>
  </div>

  <!-- *****crousel end****** -->
</section>
<!-- **************************** -->
<section class="container-fluid bg-white pt-5 pb-5 bghome mb-2">
  <div class="container">
    <div class="row text-center">
      <div class="col-12 col-lg-3">
        <h3 class="txt3 fw-600 font-size-17">San-Fracisco</h3>
      </div>
      <div
        class="col-12 col-lg-6 mt-4 mb-4 mt-lg-0 mb-lg-0 ps-0 pe-0 ps-md-5 pe-md-5"
      >
        <p class="txt4 fw-400 font-size-8 text-center">
          Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam
          pretium sem feugiat. Duis sem est, viverra eu interdum.
        </p>
      </div>
      <div class="col-12 col-lg-3 flex">
        <p class="bg2 text-white rounded flex btn">More About This</p>
      </div>
    </div>
  </div>
</section>
<!-- **************************** -->

<section class="container-fluid bg5 pt-5 pb-5">
  <div class="container">
    <div class="row text-center">
        <div class="col-12">
          <h3 class="txt3 fw-500 font-size-20">Advice For Everyone</h3>
        </div>
        <div class="col-12">
          <p class="txt4 fw-400 font-size-8 text-center ms-0 me-0 ms-lg-5 me-lg-5 ps-0 pe-0 ps-lg-5 pe-lg-5 mt-3 mb-3 mb-md-5 pb-3 pb-md-4">
            Vestibulum liero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nib Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vesum ante ipsum primis in faucibus orci luctus et ultrices posuere cubisse sollicitudin velit sed leo. Ut pharetra augue nec auguem elit magna.
          </p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mt-3 ">
            <img src="assets/home/map.png" alt="" class="mb-4">
            <h3 class="txt3 ff1 fw-500 font-size-10">Route Selection</h3>
            <p class="txt4 fw-400 font-size-8 text-center p-2">
              Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duis sem feugiat. </p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mt-3">
          <img src="assets/home/help.png" alt="" class="mb-4">
          <h3 class="txt3 ff1 fw-500 font-size-10">Route Selection</h3>
          <p class="txt4 fw-400 font-size-8 text-center p-2">
            Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duis sem feugiat. </p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mt-3">
        <img src="assets/home/earth.png" alt="" class="mb-4">
        <h3 class="txt3 ff1 fw-500 font-size-10">Route Selection</h3>
        <p class="txt4 fw-400 font-size-8 text-center p-2">
          Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duis sem feugiat. </p>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mt-3">
      <img src="assets/home/plane.png" alt="" class="mb-4">
      <h3 class="txt3 ff1 fw-500 font-size-10">Route Selection</h3>
      <p class="txt4 fw-400 font-size-8 text-center p-2">
        Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duis sem feugiat. </p>
  </div>
    </div>
  </div>
</section>

<!-- **************************** -->

<section class="container-fluid bg1 pt-5 pb-4">
  <div class="container">
    <div class="row text-center">
        <div class="col-12 col-md-9">
          <p class="text-white fw-500 font-size-17">You need to make a difficult route for advice?</p>
        </div>
        <div class="col-12 col-md-3 flex">
          <p class="bg2 text-white rounded flex btn ">Contact Us For This</p>
        </div>
    </div>
  </div>
</section>
<!-- **************************** -->

<!-- **************************** -->

<section class="container-fluid bg-white pt-5 pb-4">
  <div class="container">
    <div class="row">
        <div class="col-12 ">
          <p class="txt3 fw-500 font-size-17">Popular Destinations</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-3 mt-4">
          <div class="border">
            <img src="assets/home/des1.png" alt="" class="w-100">
            <div class="card-body">
              <h3 class="txt3 ff1 fw-500 font-size-10">Melbourne <span class="txt1 ff1 fw-400 font-size-9 ms-2">from 1400$</span></h3>
              <p class="txt4 fw-400 font-size-8">
                Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem. 
              </p>
              <p class="bg2 text-white rounded flex btn ">More About This</p>

            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 p-3 mt-4">
          <div class="border">
            <img src="assets/home/des2.png" alt="" class="w-100">
            <div class="card-body">
              <h3 class="txt3 ff1 fw-500 font-size-10">Chicago <span class="txt1 ff1 fw-400 font-size-9 ms-2">from 900$</span></h3>
              <p class="txt4 fw-400 font-size-8">
                Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem. 
              </p>
              <p class="bg2 text-white rounded flex btn ">More About This</p>

            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 p-3 mt-4">
          <div class="border">
            <img src="assets/home/des3.png" alt="" class="w-100">
            <div class="card-body">
              <h3 class="txt3 ff1 fw-500 font-size-10">Westminster <span class="txt1 ff1 fw-400 font-size-9 ms-2">from 1200$</span></h3>
              <p class="txt4 fw-400 font-size-8">
                Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem. 
              </p>
              <p class="bg2 text-white rounded flex btn ">More About This</p>

            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 p-3 mt-4">
          <div class="border">
            <img src="assets/home/des4.png" alt="" class="w-100">
            <div class="card-body">
              <h3 class="txt3 ff1 fw-500 font-size-10">Venesia <span class="txt1 ff1 fw-400 font-size-9 ms-2">from 1600$</span></h3>
              <p class="txt4 fw-400 font-size-8">
                Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem. 
              </p>
              <p class="bg2 text-white rounded flex btn ">More About This</p>

            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 p-3 mt-4">
          <div class="border">
            <img src="assets/home/des5.png" alt="" class="w-100">
            <div class="card-body">
              <h3 class="txt3 ff1 fw-500 font-size-10">New York <span class="txt1 ff1 fw-400 font-size-9 ms-2">from 1700$</span></h3>
              <p class="txt4 fw-400 font-size-8">
                Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem. 
              </p>
              <p class="bg2 text-white rounded flex btn ">More About This</p>

            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 p-3 mt-4">
          <div class="border">
            <img src="assets/home/des6.png" alt="" class="w-100">
            <div class="card-body">
              <h3 class="txt3 ff1 fw-500 font-size-10">Istanbul <span class="txt1 ff1 fw-400 font-size-9 ms-2">from 1300$</span></h3>
              <p class="txt4 fw-400 font-size-8">
                Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem. 
              </p>
              <p class="bg2 text-white rounded flex btn ">More About This</p>

            </div>
          </div>
        </div>
    </div>
  </div>
</section>
<!-- **************************** -->



